:root {
  --blue: rgb(83, 127, 231);
  --skyblue: rgb(192, 238, 242);
  --light-blue: rgb(192, 238, 242);
  --grey: rgb(95, 99, 104);
  --light-grey: rgba(169, 174, 183, 0.5);
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
 
}
* {
 box-sizing: border-box;
/* border: 1px solid salmon; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
    width: 70rem;
    background-color: rgb(255, 255, 255);
    height:45rem;
    border-radius: 1rem;
    padding: 1.5rem;
   
box-shadow: rgba(169, 174, 183, 0.5) 1px 1px 2px 2px;

  }
  h1 {
    margin: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: var(--blue);
  }
  h1:hover{
    zoom: 120%;
  }
  .project-section {
    /* overflow: scroll; */
    background-color:white;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
  }
  
  .project-form {
    display: flex;
    gap:.5rem;
  }

.rendered-projects,
.rendered-tasks {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

  .sec-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
   /* height: 100%; */
   
  }
.rendered-task,
.rendered-project{
 
  display: flex;
  align-items: center;
  
  width: 23rem;
  height: min-content;
  border-radius: .3rem;
  padding: .3rem;
 gap: .5rem;
}
.checkbox-checked{
  text-decoration: line-through;
}
.rendered-task:hover,
.rendered-project:hover{
/* box-shadow: 1px .1px 1px 2px rgb(199, 199, 199); */
box-shadow: rgba(169, 174, 183, 0.5) 0px 1px 2px 0px;
}
  /* both rendered tasks & projects style */
  .rendered-project-title,
  .rendered-task-title {
    font-size: 1rem;
   border-style: none;
  width: 20rem;
  }
  .task-section{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
 
  /* task box containing title&notes&date */
.title-box{
width: 15rem;
overflow-wrap: break-word;
}
.rendered-date,
.rendered-notes{
  margin: 0;

}
.rendered-notes{
  color: var(--grey);
}
.rendered-date {
  color: var(--grey);
  font-size: .8rem;
}
input:focus {
  outline-style: none;
  /* border: 2px solid rgb(124, 164, 250); */
}
input.project-title{
  border-style: none;
  background-color: var(--light-grey);
 border-radius: .5rem;
 padding: .3rem;
}
input.project-title:hover::placeholder  {
  color: var(--blue);
}
.task-input:hover::placeholder {
  color: var(--blue);
}
.task-input {
  border: 2px solid transparent;
  /* border-style: none; */
  background-color: var(--light-grey);
 border-radius: .5rem;
 padding: .3rem;
}
.add-btn {
  width: 2.5rem;
  background-image: url("svg/plus.svg");
  background-repeat: no-repeat;
  border-style: none;
  filter: invert(45%) sepia(63%) saturate(879%) hue-rotate(193deg) brightness(95%) contrast(90%);
}
.add-btn:hover {
  background-image: url("svg/plus-circle.svg");
  background-repeat: no-repeat;
}
.editable:focus {
  border: 1px solid rgb(124, 164, 250);
 border-radius: .2rem;
}

/* input {
  cursor: pointer;
} */

input[type="checkbox"]{
width: 2rem;
accent-color: var(--blue);
padding: .3rem;

}
input[type="checkbox"]:hover{
  zoom: 120%;
}
.modal{
  box-sizing: content-box; 
  border: 1px solid  var(--blue);
  border-radius: .3rem;
  width: 12rem;
  height: 10rem;
 }
textarea {
  border: 1px solid  var(--blue);
  border-radius: .3rem;

  height: 8rem;
}
textarea:focus{
  outline: none;
  border: 1px solid  var(--blue);
  border-radius: .3rem;
}

.edit-btn {
  display: none;
}
.delete-btn{
  background-image: url("svg/delete-outline.svg");
  background-repeat: no-repeat;
  min-width: 1rem;
  min-height: 1rem;
}
