:root {
  --blue: rgb(83, 127, 231);
  --skyblue: rgb(192, 238, 242);
  --light-blue: rgb(192, 238, 242);
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
 
}
* {
  border: 2px solid salmon;

}
.main-container {
    min-width: 10rem;
    background-color: rgb(255, 255, 255);
    height: 30rem;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
  }
  .project-section {
    background-color:white;
    height: 100%;
  }
  
  .project-form {
    display: flex;
  }

.rendered-projects,
.rendered-tasks {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

  .sec-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
   height: 100%;
   
  }
.rendered-task,
.rendered-project{
  display: flex;
  align-items: center; 
  width: 20rem;
}

  /* both rendered tasks & projects style */
  .rendered-project-title,
  .rendered-task-title {
   border-style: none;
  width: 20rem;
  }
  
  /* task box containing title&notes&date */
.title-box{
width: 20rem;
overflow-wrap: break-word;
}
.rendered-date,
.rendered-notes{
  margin: 0;
}
input:focus {
  outline-style: none;
  /* border: 2px solid rgb(124, 164, 250); */
}

.editable:focus {
  border: 2px solid rgb(124, 164, 250);
 
}

input {
  cursor: pointer;
}

input[type="checkbox"]{
width: 1rem;
accent-color: var(--blue);
/* border-radius: 1rem; */
 
/* zoom: 110%; */
}
input[type="checkbox"]:hover{
  zoom: 120%;
}
.modal{
  width: 12rem;
  height: 10rem;
 }

.edit-btn {
  display: none;
}