
body {
  background-color: brown;
}
.main-container {
    min-width: 10rem;
    background-color: green;
    min-height: 30rem;
  }
  
  .project-section {
    background-color: azure;
  }
  
  .sec-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .project-title-rendered {
 border-color: white;
  }